<header class="page-header">
  
  <div class="wrapper">
    <mat-toolbar color="primary">
      <a class="navbar-brand" routerLink="/home">
        <mat-icon class="paw">pets</mat-icon>
        Dogster
      </a>
      
      <div class="navbar-header">
        <app-navigation></app-navigation>
      </div>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>

</header>
