.page-header {

  background: #673ab7;

  .navbar-header {
    margin-left: auto;
    margin-right: 2em;
  }

  .navbar-brand {

    font-size: 1.25em;

    .paw {
      font-size: 1.05em;
      margin-right: 0.2em;
      transform: rotate(30deg);
    }
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
  }

}

