.jumbotron {

  background-image: url(../../../assets/img/cover.png);
  color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  height: 480px;

  h1 {
    font-family: 'Lily Script One', cursive;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 1);
  }

  &:after {
    content: " ";
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 3.4722222222%;
    background-image: url(../../../assets/svg/wave-mask.svg);
    background-size: cover;
  }
}
