<div class="card-wrapper" *ngFor="let f of furnitureInfo$ | async">
  <mat-card class="card">
    
    <mat-card-header>
      <img mat-card-image src="{{f.image}}" alt="{{f.make}}">
    </mat-card-header>
    
    
    <mat-card-content>
      <mat-card-title>{{f.make}}</mat-card-title>
      <mat-card-subtitle>{{f.model}}</mat-card-subtitle>
      <p>{{f.description | slice:0:71}}...</p>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-stroked-button color="primary" [routerLink]="['/furniture/details', f._id]">View</button>
      <ng-template [ngIf]="isEdit">
        <button mat-stroked-button color="accent" [routerLink]="['/furniture/edit', f._id]">Edit</button>
        <button mat-stroked-button color="warn"><a (click)="emitId(f._id)" class="btn btn-danger">Delete</a></button>
      </ng-template>
    </mat-card-actions>
  
  </mat-card>
</div>
