<nav>
  
    <ul class="navbar-nav mr-auto">
      
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <button mat-button class="nav-link" routerLink="/user/login">Login</button>
      </li>
      
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <button mat-button class="nav-link" routerLink="/user/register">Register</button>
      </li>
      
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <button mat-button class="nav-link" (click)="logout()">Hello {{name}},</button>
      </li>
      
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <button mat-button class="nav-link" (click)="logout()">Logout</button>
      </li>
      
      <li *ngIf="authService.isAuthenticated()" appNavDropdown class="nav-item dropdown">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button class="dropdown-item" routerLink="/furniture/all" mat-menu-item>All Dogs</button>
          <button class="dropdown-item" routerLink="/furniture/user" mat-menu-item>My Dogs</button>
          <button class="dropdown-item" routerLink="/furniture/create" mat-menu-item>Add Dog</button>
        </mat-menu>
      </li>
    
    </ul>

</nav>
