nav {
  height: 100%;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      height: 100%;
      list-style: none;

      button.mat-button {
        height: 100%;
        font-size: 1em;
        padding: auto 2em
      ;
      }
    }
  }
}
