<div class="container">
  
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Welcome to Dogster gallery</h1>
      <form #form="ngForm" (ngSubmit)="search()">
        
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          
          <input
            required
            matInput
            ngModel
            name="query"
            placeholder=""
            type="text">
          
          <button
            type="submit"
            [disabled]="form.invalid"
            mat-icon-button
            matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        
        </mat-form-field>
      
      </form>
    </div>
  </div>
  
  <div class="wrapper">
    <app-furniture-card [furnitureInfo$]="furniture$" [isEdit]="false" class="cards"></app-furniture-card>
  </div>

</div>
